body {
	background-color: navy;
}

div {
	min-height: 40px;
}

h3 {

}
.grid_14 {
	background-color: #CDCDCD;
}
.header {

}
.logo {
	font-family: Droid serif;
	font-weight: 700;
	font-size: 40px;
	color: navy;
	margin: 35 0 35 0;
}
.openbooks {
	margin: 10 0 10 10;
}
.navigation {
	height: 85px;
	margin: 10;
}
button a:first-child {
	text-decoration: none;
	font-family: Abel;
	font-size: 14px;
}
#homelink {
	position: absolute;
	left: -15px;
}
#checklink {
	position: absolute;
	left: -15px;
	top: 30px;
}
#aboutlink {
	position: absolute;
	left: -15px;
	top: 60px;
}
.pagenav {
	height: 25px;
	width: 75px;
}

.main {

}
.description {
	background-color: blue;
	margin: 10 0 10 0;
}
.userinput {
	background-color: purple;
	margin: 10 0 10 0;
}
.dropdown {
	margin: 10 0 10 0;
}
.textinput {
	margin: 10 0 10 0;
}
.results {
	background-color: #BBEEFF;
	margin: 10 0 10 0;
}
.data {
	margin-left: auto;
	margin-right: auto;
}
.footer {
	margin: 10 0 10 10;
}